body {
	font-family: 'Lexend Mega', sans-serif;
	background-color: #fff;
}

/* Slider Section: */
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

/* .slides-navigation {
	z-index: 6;
}

.slides-navigation .prev, .slides-navigation .next {
	width: 45px;
	height: 45px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../img/icons/next.png);
} */

.titleMessage {
	position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -80px;
}

.titleMessage .heading p {
	color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
	font-size: 45px;
}

.titleMessage .heading .sub {
	font-size: 23px;
}

/* Scroll Down Arrows: */
.scrolldown {
	position: absolute;
	z-index: 5;
	bottom: 20px;
	left: 50%;
	width: 40px;
	height: 40px;
	transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
	animation: animate 1.5s linear infinite;
	opacity: 0;
}

.scrolldown span:nth-child(1) {
	transform: translate(-15px, -15px);
	animation-delay: -0.4s;
}

.scrolldown span:nth-child(2) {
	transform: translate(0px, 0px);
	animation-delay: -0.2s;
}

.scrolldown span:nth-child(3) {
	transform: translate(15px, 15px);
	animation-delay: 0s;
}

@keyframes animate {
	0% {
		top: -5px;
		left: -5px;
		opacity: 0;
	}
	25% {
		top: 0px;
		left: 0px;
		opacity: 1;
	}
	50%, 100% {
		top: 5px;
		left: 5px;
		opacity: 0;
	}
}


/* About Section: */
.section {
	padding: 100px 0;
}

.aboutImage {
	max-width: 94%;
}


/* Project Section: */
.section .heading {
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
}

.apps .projectDescription p {
	margin-top: 10px;
	text-align: center;
	font-size: 90%;
}

.apps .item img {
	width: 100%;
	-webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}

.apps .item {
	position: relative;
	display: block;
	overflow: hidden;
}

.apps .icons {
	position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.apps .icons i {
	color: #fff;
  font-size: 20px;
  margin-top: 9px;
}

.apps a {
	width: 40px;
  height: 40px;
  background-color: #e74c3c;
  position: relative;
  display: inline-block;

  -webkit-transition: all 0.2s linear, 0.2s;
  -moz-transition: all 0.2s linear, 0.2s;
  -o-transition: all 0.2s linear, 0.2s;
  -ms-transition: all 0.2s linear, 0.2s;
  -transition: all 0.2s linear, 0.2s;

}

.apps .imageOverlay {
	width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;

  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}

.apps .item:hover .imageOverlay {
	opacity: 1;
}

.apps .projectLink1 {
	float: left;
	left: -200px;
}

.apps .projectLink2 {
	float: right;
	right: -200px;
}

.apps .item:hover .projectLink1 {
	left: 0px;
}

.apps .item:hover .projectLink2 {
	right: 0px;
}

.apps .item:hover img {
	-webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -transform: scale(1.05, 1.05);
}


/* Contact Section: */
.contactSection {
	background-color: #bbbbbb;
	color: #fff;
}

.social-menu ul {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin-top: 40px;
		margin-bottom: 30px;
    display: flex;
		justify-content: center
}

.social-menu ul li {
    list-style: none;
    margin: 0 20px;
}
.social-menu ul li .fab {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.social-menu ul li .fas {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.social-menu ul li .fab:hover {
    color: #ffffff;
}

.social-menu ul li .fas:hover {
    color: #ffffff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #0077B5;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #75cfb8;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #da723c;
}


/* Copyright Section: */

.copyrightSection {
	background-color: #bbbbbb;
	color: #fff;
	padding: 30px 5px;
}

.copyrightSection p {
	margin: 0;
}
